@import "compass";
@import "partials/variables";
// @import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "compass/css3";

@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
	width: 100%;
	margin: 0 auto;
	background-color: $backgroundColour;
}

#pageHeading{
	font-family: 'Orbitron', sans-serif;
	font-size: 3vw;
	text-align: center;
	margin-top: 2%;
}

header {
	
	background-color:green;// #FFFFFF;
	width: 100%;
	@include border-radius(25px);

	min-height: 15%;
	margin-bottom: 2%;
}


#instructins{
	// background-color: yellow;
	height: 10%;
	width: 100%;
	margin: 0 ;
	display: block;

}
 
section{
	width: 100%;

}

.scope{
	// background-color: blue;
	width: 26%;
	height: 30%;
	vertical-align: bottom;
	display: inline-block;


}

#controlls{
	background-color: green;
	height: 40%;
	width: 80%;
	margin: 0 auto;
}

#gameDisplay{
	background-color: red;
	height: 40%;
	width: 45%;
	display: inline-block;


	background: url("https://cdn.webaddressgoeshere.com/MosDuction/BackGround.jpg") no-repeat  ; 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;

	@include transition(all 1.5s ease);

	@include respond-to('mobile') {
		background-position: -170px;
	}

	@include respond-to('small') {

		background: url("https://cdn.webaddressgoeshere.com/MosDuction/BackGround.jpg") no-repeat; 
		background-position-x: 20%;
		background-size: contain;
	
	}

	@include respond-to('medium') {

		background: url("https://cdn.webaddressgoeshere.com/MosDuction/BackGround.jpg") no-repeat center center ;
		background-size: contain;
		
	}

	@include respond-to('large') {

		background: url("https://cdn.webaddressgoeshere.com/MosDuction/BackGround.jpg") no-repeat center center ; 
		background-size: contain;
	}

}


//ToolTip:
.TT {
	@include  hui_tooltip(attr(data-tooltip),  "top");
}