@import "compass";
@import "partials/variables";
// @import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "compass/css3";

@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
	width: 100%;
	margin: 0 auto;

	background: url("https://cdn.webaddressgoeshere.com/MosDuction/PageBackGround2.png") no-repeat  ; 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	

}

#backgroundImagetarget{
	// background: url("https://cdn.webaddressgoeshere.com/MosDuction/PageBackGround.png") no-repeat  ; 
	// -webkit-background-size: 100%;
	// -moz-background-size: 100%;
	// -o-background-size: 100%;
	// background-size: 100%;
}

#pageHeading{
	font-family: 'Orbitron', sans-serif;
	font-size: 3vw;
	text-align: center;
	margin-top: 2%;
	color: white;
}

header {
	
	background-color:green;// #FFFFFF;
	width: 100%;
	@include border-radius(25px);

	min-height: 15%;
	margin-bottom: 2%;
}


#instructins{
	// background-color: yellow;
	//padding-top: 10%;
	height: 10%;
	width: 100%;
	margin: 0 ;
	display: block;

}
 
section{
	width: 100%;

}

#showman{
	  position: fixed;
	//  top: 20%;
	  left: 70%;


}

.scope{
	// background-color: blue;
	width: 45%;
	height: 40%;
	vertical-align: middle;
	display: inline-block;
	overflow: auto;


}

#show{
	width: 100%;

}

#controlls{
	padding-top: 10%;
	height: 40%;
	width: 30%;
	margin: 0 auto;

	color: white;

	@include transition(all 1.5s ease);

}

#gameDisplay{
	background-color: red;
	height: 40%;
	width: 45%;
	display: inline-block;
	float: right;


	background: url("https://cdn.webaddressgoeshere.com/MosDuction/BackGround.jpg") no-repeat  ; 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	// filter: saturate(20%);


	@include transition(all 1.5s ease);

	@include respond-to('mobile') {
		background-position: -170px;
	}

	@include respond-to('small') {

		background: url("https://cdn.webaddressgoeshere.com/MosDuction/BackGround.jpg") no-repeat; 
		background-position-x: 20%;
		background-size: contain;
	
	}

	@include respond-to('medium') {

		background: url("https://cdn.webaddressgoeshere.com/MosDuction/BackGround.jpg") no-repeat center center ;
		background-size: contain;
		
	}

	@include respond-to('large') {

		background: url("https://cdn.webaddressgoeshere.com/MosDuction/BackGround.jpg") no-repeat center center ; 
		background-size: contain;
	}

}


//ToolTip:
.TT {
	@include  hui_tooltip(attr(data-tooltip),  "top");
}